In [2]:
import sqlite3

# Connect to the SQLite database (create it if it doesn't exist)
conn = sqlite3.connect('/Users/benstager/Desktop/test.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table named 'numbers'
cursor.execute('''CREATE TABLE IF NOT EXISTS numbers
                  (id INTEGER PRIMARY KEY, num1 INTEGER, num2 INTEGER, num3 INTEGER)''')

# Insert rows into the table
cursor.execute("INSERT INTO numbers (num1, num2, num3) VALUES (1, 2, 3)")
cursor.execute("INSERT INTO numbers (num1, num2, num3) VALUES (4, 5, 6)")

# Commit changes to the database
conn.commit()

# Close the connection
conn.close()

print("Database initialized and rows inserted successfully.")

Database initialized and rows inserted successfully.

In [3]:
import pandas as pd

table = '/Users/benstager/Desktop/test.db'

pd.read_sql("SELECT * FROM " + table, conn)

ProgrammingError: Cannot operate on a closed database.

In [6]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('/Users/benstager/Desktop/test.db')

# Create a cursor object
cursor = conn.cursor()

# Execute a SELECT query
cursor.execute("SELECT * FROM numbers")
rows = cursor.fetchall()

In [8]:
pd.DataFrame(rows)

   0  1  2  3
0  1  1  2  3
1  2  4  5  6